<div class="nav-bar">
  <%= link_to 'Wikinimous', articles_path %>
  <%= link_to 'New Article', new_article_path %>
</div>

<div class="newsfeed">
    <h1><%= @article.title %> <%= link_to 'Edit', edit_article_path(@article) %> <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %></h1>
    <p><%= @article.content %></p>
</div>
